# Homework 4 - UFOs!!!

The objective of this homework is to practice cleaning and transforming data. To successfully complete this homework, you may use any resources available to you. 

Get the `scrubbed.csv` data [here](https://www.kaggle.com/NUFORC/ufo-sightings/data). Develop **three** interesting insights into the UFO phenomenon. 
1. When and where do people see UFOs in California? 
2. Are there differences in the circumstances of UFO sightings across the U.S. states? (Explore the comment column)
3. What is the average length of UFO sightings across the U.S. states?

Hints:
* When you explore the comment column, think about the work we did on twitter. 
* For better performance, download the data to your local drive.
* Make reasonable assumptions when transforming the length data.

In [107]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [108]:
import pandas as pd

# Open csv file
UFO = pd.read_csv('scrubbed.csv')

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Question 1

In [ ]:
# Check what data look like
UFO

In [124]:
# Show the time and location, including latitude and longitude
U=UFO.copy()
U[U['state']=='ca'].filter(['datetime','latitude','longitude'], axis=1)

# I still don't figure it out why it doesn't show up the 'longitude' column

               datetime    latitude
10     10/10/1968 13:00  33.9163889
30     10/10/1979 22:00  32.7152778
45     10/10/1989 00:00  34.1577778
63     10/10/1995 22:40  37.8044444
72     10/10/1998 02:30  34.0983333
82     10/10/1999 00:01  38.0194444
85     10/10/1999 11:00  32.7152778
87     10/10/1999 20:35  37.6688889
105    10/10/2001 20:35  37.6688889
107    10/10/2001 21:30  36.7477778
118    10/10/2003 12:00  34.0952778
134    10/10/2004 15:00  37.8716667
146    10/10/2005 14:45  34.0522222
155    10/10/2006 05:00  37.7750000
169    10/10/2007 06:00  33.7205556
191    10/10/2008 10:22  37.5483333
200    10/10/2008 22:00  32.7152778
207    10/10/2009 20:30  33.8352778
211    10/10/2009 23:23  37.3230556
218    10/10/2010 15:00   37.615223
228    10/10/2010 22:30  33.7738889
247    10/10/2012 15:00   37.615223
248    10/10/2012 18:56  32.7152778
258    10/10/2012 20:30  37.3394444
265    10/10/2012 23:20  33.7397222
292    10/11/1994 04:00  33.9533333
297    10/11/1998 02:15  37.5422222
302    10/11/1998 22:45  38.4088889
304    10/11/1999 04:30  34.0522222
323    10/11/2000 22:00  38.7138889
...                 ...         ...
80104    9/9/1968 20:00     37.7397
80105    9/9/1968 21:00     38.4406
80108    9/9/1978 21:00     32.5839
80109    9/9/1979 22:00     34.2253
80112    9/9/1984 22:00     36.7783
80114    9/9/1994 06:30     39.7286
80118    9/9/1996 08:30      37.775
80123    9/9/1999 05:00     37.3853
80124    9/9/1999 12:35      40.651
80128    9/9/1999 22:00       41.31
80129    9/9/1999 22:00     36.9742
80130    9/9/1999 22:00      40.651
80146    9/9/2001 15:00     32.7153
80148    9/9/2001 20:00     34.3614
80171    9/9/2003 18:27     34.0522
80175    9/9/2003 22:00     32.6789
80188    9/9/2004 20:03     36.7478
80209    9/9/2006 18:30     37.3231
80213    9/9/2007 10:00     33.7878
80219    9/9/2007 21:30     38.7083
80245    9/9/2009 20:30     38.9106
80273    9/9/2010 23:19     34.0975
80279    9/9/2011 20:00     34.4208
80284    9/9/2011 21:30       32.64
80285    9/9/2011 22:00       32.64
80299    9/9/2012 20:00     40.8667
80305    9/9/2012 20:30     34.2783
80310    9/9/2012 21:00     34.2783
80316    9/9/2013 09:51     32.7153
80329    9/9/2013 22:00     38.2972

[9655 rows x 2 columns]

Question 2

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import nltk

# Slice dataframe
US=U[U['country']=='us']

# Clean data
txt = US.comments.str.lower().str.replace(r'\|', ' ').str.cat(sep=' ')

# Get words from data
words = nltk.tokenize.word_tokenize(txt)
word_dist = nltk.FreqDist(words)

# Get stopwords from words
stopwords = nltk.corpus.stopwords.words('english')
other_words = nltk.FreqDist(w for w in words if w not in stopwords) 

print('All frequencies, including STOPWORDS:')

top = 10
rslt = pd.DataFrame(word_dist.most_common(top),
                    columns=['Word', 'Frequency'])
print(rslt)

rslt = pd.DataFrame(other_words.most_common(top),
                    columns=['Word', 'Frequency']).set_index('Word')

matplotlib.style.use('ggplot')

rslt.plot.bar(rot=0)

Question 3

In [126]:
US=U[U['country']=='us']
average=US['duration (seconds)'].count()/US['state'].drop_duplicates().count()
average

1252.1923076923076